################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OmatKotisivut/OmatKotisivut/obj
/OmatKotisivut/.vs/OmatKotisivut/v15
/Heidi Makkonen/OmatKotisivut/obj
/Heidi Makkonen/.vs
