@{
    ViewData["Title"] = "Ota yhteyttä";
}
<h2>@ViewData["Title"]</h2>
<h3>Tähän tulee yhteydenottolomake</h3>


<address>
    <br />
    <br />
    <abbr title="Phone">P.</abbr>
    +358 50 354 24 25
</address>

<address>
    <strong></strong> <a href="makkonenheidi82@gmail.com">makkonenheidi82@gmail.com</a><br />
    
</address>
